<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
    <style>
        .footers {
  text-align: center;
  padding: 20px;
  background-color: #0a0a0a;
  color:white;
  border:3px white;

}
    </style>
</head>
<body>

<div class="footers">
<footer>
  <p>Created By : Fake Nike<br>
  <a href="#">fakenikey@gmail.com</a></p>
    <p>Contact:883456779</p><br>
    <a href="#"><p>About&nbsp;&nbsp;&nbsp;&nbsp;   Help center&nbsp;&nbsp;&nbsp;&nbsp;Browse Companies</p></a>
    <a href="#"><p>All rights reserved © 2023 Fake NIke.&nbsp;&nbsp;&nbsp;&nbsp;   Terms & Conditions&nbsp;&nbsp;&nbsp;&nbsp;Cookies</p></a>
</footer></div>

</body>
</html>